<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee (Links to an external site.)" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance (Links to an external site.)" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee (Links to an external site.) http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd (Links to an external site.)">
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>uts.isd.controller.ConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>OrderHistoryController</servlet-name>
        <servlet-class>uts.isd.controller.OrderHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPastOrderController</servlet-name>
        <servlet-class>uts.isd.controller.ViewPastOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopController</servlet-name>
        <servlet-class>uts.isd.controller.ShopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductController</servlet-name>
        <servlet-class>uts.isd.controller.ViewProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>uts.isd.controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>uts.isd.controller.CheckoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistoryController</servlet-name>
        <url-pattern>/OrderHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPastOrderController</servlet-name>
        <url-pattern>/ViewPastOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopController</servlet-name>
        <url-pattern>/ShopController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductController</servlet-name>
        <url-pattern>/ViewProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/CheckoutController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>