/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/04/2021, 1:19:43 PM
    Author     : Minty
*/

.header {
	text-align: center;	
        font-size: 200%;
}

body {

	padding-top: 80px;
	background: #5f6366;
	font-family:"Open Sans";
	margin: 0 auto;
	color: white;

	background-image: url("b1.jpg");
}

.container {
	text-decoration:none;
        border-radius: 20px;
	padding: 16px;
	display: flex;
	flex-flow: column wrap;
        justify-content: center;
        margin: 0;
        position: absolute;
        top: 30%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
      color: red;
  background-color: transparent;
  text-decoration: none;
}